* {
    margin: 0 auto;
    padding: 0;
}
body {
    background: #dddddd;
}
header {
    width: 100%;
    background: black;
    height: 125px;
}
.top1 {
    width: 1200px;
    height: 45px;
    margin: 0 auto;
    overflow: hidden;
}
.top1_1 {
    margin-left: 860px;
    padding-top: 10px;
    padding-right: 10px;
    display: block;
    float: left;
}
.top1_2 {
    padding-right: 40px;
    font-size: 18px;
    color: white;
    display: block;
    float: left;
    line-height: 45px;
}
.top1_3 {
    font-size: 13px;
    color: white;
    display: block;
    float: left;
    line-height: 45px;
    padding-right: 12px;
    cursor: pointer;
}
.top2 {
    width: 100%;
    height: 80px;
    background: white;
}
nav {
    width: 1200px;
    height: 80px;
    margin: 0 auto;
    overflow: hidden;
}
.top2_1 {
    float: left;
    display: block;
    width: 280px;
    height: 65px;  
    margin-top: 15px;
    overflow: hidden;
}
nav ul {
    font-size: 18px;
    font-weight: bold;
    line-height: 80px;
}
nav ul li {
    margin-left: 70px;
}
#active {
    width: 80px;
    height: 60px;
    margin: 0 auto;
    display: block;
    line-height: 60px;
    text-align: center;
    color: #cf7748;
    border-bottom: 3px solid #cb5405;
    padding-bottom: 16px;
}
article {
    background: #dddddd;
}
.caro {
    width: 100%;
    height: 450px;
    margin: 0 auto;
    /* overflow: hidden; */
}
.ca-le {
    float: left;
    margin-top: 175px;
}
.ca-ri {
    float: right;
    margin-top: 175px;
}
.serach {
    position: absolute;
    bottom: 15%;
    left: 30%;
    width: 605px;
    height: 62px;
    border: solid 4px rgba(43, 41, 41, 0.5);
    border-radius: 10px;
}

.serach button {
    float: left;
    max-width: 25%;
    height: 50px;
    width: 150px;
    border: 0px;
}

.serach input {
    float: left;
    max-width: 50%;
    height: 50px;
    width: 300px;
    border: 0px;
    padding: 0px;
}
.s-left {
    background: #f2f3f7;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.s-right {
    background: #e8420a;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.car {
    width: 1200px;
    height: 364px;
    margin: 0 auto;
    margin-top: 20px;
}
.car_1 {
    width: 935px;
    height: 364px;
    float: left;
    display: block;
}
.car_2 {
    width: 265px;
    height: 364px;
    float: left;
    display: block;
    background: #16326d;
}
.car_2-1 {
    margin-left: 80px;
    margin-top: 80px;
    margin-bottom: 20px;
}
.car_2-2 {
    color: white;
    font-size: 18px;
    margin-left: 90px;
}
.car_2-3 {
    display: block;
    width: 160px;
    height: 50px;
    margin: 50px auto;
    border: solid 1px white;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0);
    font-size: 20px;
    color: white;
}
.car_1 h2 {
    padding-left: 400px;
}
.car_1 p {
    padding-left: 90px;
    font-size: 16px;
}
.hot {
    width: 1200px;
    height: 1165px;
    margin: 0 auto;
}
.st {
    margin: 0px;
    border: 0;
    background: #dddddd;
}
.st img {
    vertical-align: baseline;
}
.black-cp {
    width: 100%;
    height: 82px;
    background: #000000;
    text-align: left;
}
.black-cp p {
    display: block;
    margin-left: 20px;
    font-size: 18px;
    color: white;
}
.black-cp p span {
    font-size: 30px;
}
.white-cp {
    height: 85px;
    width: 100%;
    background: rgba(129, 126, 126, 0.521);
    position: absolute;
    bottom: 0px;
    text-align: left;
}
.white-cp p {
    font-size: 20px;
    color: white;
}
.white-cp span {
    font-size: 30px;
}
.city {
    width: 1200px;
    height: 900px;
    margin: 0 auto;
}
.more {
    display: block;
    width: 232px;
    height: 50px;
    margin: 50px auto;
    border: solid 1px #000000;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0);
    font-size: 20px;
    color: #000000; 
}
.conn {
    width: 100%;
    height: 345px;
    background: url(img/Bbanner.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.wish {
    width: 1200px;
    height: 1500px;
    margin: 0 auto;
    background: url(img/back.png);
    background-repeat: no-repeat;
}
.wish-wd1 {
    margin-top: 125px;
}
.wish-wd2 {
    margin-top: 30px;
    font-size: 14px;
    margin-bottom: 20px;
}
.wish-mission1 {
    height: 345px;
    padding: 0;
    overflow: hidden;
}
.wish-wd {
    margin-left: 0;
    height: 345px;
    padding-top: 70px;
    background: #1c5080cc;
    color: white;
}
.wish-wd p {
    display: block;
    color: white;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 30px;
    line-height: 2.5em;
}
.mission2 {
    padding: 0;
    margin-top: 3px;
}
.sec-three {
    padding: 0;
    margin-top: 3px;
    background: #1c5080;
}
.three-cp {
    display: none;
}
.three-pz {
    text-align: center;
    height: 400px;
    background: url(img/rorate.png) no-repeat;
    background-position: center 44px;
}
.three-pz img {
    margin-top: 94px;
}
.three-pz h5 {
    color: white;
    margin-top: 15px;
    font-size: 20px;
}
.three-pz p {
    color: white;
    margin-top: 60px;
    font-size: 15px;
}
.ptn {
    margin-top: 45px;
    color: white;
}
.ptn dt {
    width: 60px;
    float: left;
}
.ptn-logo a {
    display: block;
    float: left;
    width: 120px;
    margin-left: 10px;
    background: black;
    font-size: 16px;
    text-align: center;
    color: white;
    line-height: 2em;
}
.hloc {
    color: white;
}

.hloc dt {
    width: 60px;
    float: left;
}

.hloc dd {
    margin-left: 80px;
}

.hloc dd a {
    margin-left: 10px;
    color: white;
    font-size: 14px;
}
.footer-foot {
    border-top: solid 1px #404040;
    height: 160px;
}

.footer-foot p {
    text-align: center;
    color: white;
    font-size: 16px;
    margin-top: 44px;
}